extends base

block content
	for post in posts
		.post
				h2.entrytitle
					a(href=post.url)= post.title
				p.postmeta
					span(datetime=post.date.isoformat())= post.date.format('%B %d, %Y')
				.post-body= post.content.limit(250)
					p.more
						a.continue(rel="nofollow", href=post.url) Read More
	//paginator
	if paginator.has_pre or paginator.has_next
		.footerlink
			if paginator.has_pre
				a(href=paginator.pre_page_url) 上一页
			if paginator.has_next
				a(href=paginator.next_page_url) 下一页
						